.pulp-empty-state-box {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pulp-custom-wizard-layout {
  .pulp-select-roles-content {
    overflow: auto;
  }

  .pulp-permission {
    margin: 3px;
  }

  .pulp-preview-roles {
    margin-top: 20px;
  }

  .pulp-permissions {
    margin: 10px 0;
  }

  .pulp-filter {
    width: 250px;
  }

  .pulp-selected-roles-list {
    overflow-x: auto;
  }

  .pulp-no-filter-data {
    display: flex;
    justify-content: center;
    height: 400px;
  }

  &.pulp-no-data {
    display: flex;
    justify-content: center;
    min-height: 590px;
  }

  &.pulp-loading-wizard {
    display: flex;
    align-items: center;
  }
}
