version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    groups:
      babel:
        patterns:
          - "@babel/*"
          - "babel-loader"
      eslint:
        patterns:
          - "eslint"
          - "eslint-config-*"
          - "eslint-plugin-*"
          - "typescript-eslint"
      lingui:
        patterns:
          - "@lingui/*"
      patternfly:
        patterns:
          - "@patternfly/*"
      react:
        patterns:
          - "react"
          - "react-dom"
    ignore:
      - dependency-name: '@patternfly/patternfly'
        update-types:
          - 'version-update:semver-major'
      - dependency-name: '@patternfly/react-core'
        update-types:
          - 'version-update:semver-major'
      - dependency-name: '@patternfly/react-table'
        update-types:
          - 'version-update:semver-major'
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
