# Pins to exact registry
registry=https://registry.npmjs.org/

# Package Minimum Age Adoption
min-release-age=3
min-release-age-exclude=[]

# Package Installation Script
strict-allow-scripts=true

# Enforces required Node.js versions
engine-strict=true

# Pins exact dependency version
save-exact=true

# Enable integrity verification
package-lock=true

# Other options
legacy-peer-deps=true
audit=true
fund=false
strict-ssl=true
