$breakpoint-md: 1000px;

.pulp-header-bordered {
  border-bottom: 1px solid #d8d8d8;
}

.pulp-header-image {
  padding-right: 16px;
}

.pulp-header-bottom {
  padding-top: 10px;
}

.pulp-tab-link-container {
  display: flex;
  margin-top: 10px;

  @media (max-width: $breakpoint-md) {
    flex-direction: column-reverse;
  }

  .tabs {
    flex-grow: 0;
  }

  // Tabs isDisabled
  .pf-v5-c-tabs__item.disabled .pf-v5-c-tabs__link {
    cursor: not-allowed;
  }

  .links {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: $breakpoint-md) {
      justify-content: flex-end;
    }

    @media (max-width: $breakpoint-md) {
      margin-bottom: 10px;
    }

    div {
      @media (min-width: $breakpoint-md) {
        margin-left: 20px;
      }

      @media (max-width: $breakpoint-md) {
        margin-right: 20px;
      }
    }
  }
}
