// Patternfly expects the root Page component to be the height of the browser window
body,
#root {
  height: 100%;
}

.pulp-section {
  background-color: white;
  padding: 16px;
}

.pulp-clickable {
  cursor: pointer;
}

// remove padding between menu and top navbar
#page-sidebar .pf-v5-c-nav {
  --pf-v5-c-nav__list--PaddingTop: 0;
}

// this was getting applied globally when it was in the collection-info.scss file
// which means other components now rely on it, so I'm just going move it here
// so that it's explicitly setting these styles globally.
pre {
  background-color: #f8f8f8;
  border: 1px solid #e6e9e9;
  font-family: var(--pf-v5-global--FontFamily--monospace);
  display: block;
  padding: 10px;

  // Patternfly does something that makes it so that fonts don't get inherited
  // from the parent so it has to be overridden at every level.
  code {
    font-family: var(--pf-v5-global--FontFamily--monospace);
  }
}

// list screen toolbars
.pulp-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// inline alert inside pf-v5-c-content has big title and extra margin otherwise
.pf-v5-c-content .pf-v5-c-alert__title {
  margin: 0;
  font-size: var(--pf-v5-c-alert__title--FontSize);
  font-weight: var(--pf-v5-c-alert__title--FontWeight);
}
